.login{
    -fx-background-position: center;
    -fx-background-image: url("Img/fondologin.jpg");
}
.promp{
    -fx-prompt-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color: F95C5C;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-text-fill: white;
}
.Vboxlogin{
    -fx-border-color: white;
    -fx-border-style: solid;
}

